In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('digits.csv')

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,index
0,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
1,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
2,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
3,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
4,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41996,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41997,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41998,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41999,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9

In [5]:
df['index']=df['index'].astype(object)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 785 entries, 0 to index
dtypes: int64(784), object(1)
memory usage: 251.5+ MB

In [7]:
df.isna().sum()

0        0
1        0
2        0
3        0
4        0
        ..
780      0
781      0
782      0
783      0
index    0
Length: 785, dtype: int64

## Split

In [8]:
df.iloc[0].value_counts()

30     539
214    123
91       6
58       5
72       5
      ...
192      1
193      1
194      1
67       1
61       1
Name: 0, Length: 78, dtype: int64

In [9]:
df.isna().sum()

0        0
1        0
2        0
3        0
4        0
        ..
780      0
781      0
782      0
783      0
index    0
Length: 785, dtype: int64

In [10]:
X = df.iloc[:,:784]
y = df["index"].apply(lambda x:int(x))

In [11]:
y.dtype

dtype('int64')

In [12]:
df.apply(lambda s: pd.to_numeric(s, errors='coerce').notnull().all())

0        True
1        True
2        True
3        True
4        True
         ...
780      True
781      True
782      True
783      True
index    True
Length: 785, dtype: bool

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state = 100)

In [14]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
33145,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
25613,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
21792,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
32368,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
3667,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30

In [15]:
y_train.head()

33145    7
25613    6
21792    5
32368    7
3667     0
Name: index, dtype: int64

In [16]:
y_test.head()

21028    4
35662    8
7969     1
16537    3
36659    8
Name: index, dtype: int64

In [17]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
X_train_num_rescalar = scalar.fit_transform(X_train)
X_train_num_rescalar

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [18]:
X_test_num_rescalar = scalar.transform(X_test)
X_test_num_rescalar

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

# Logistic Regression

In [19]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train_num_rescalar, y_train)

LogisticRegression()

In [20]:
y_test_pred = classifier.predict(X_test_num_rescalar)

In [21]:
from sklearn.metrics import accuracy_score 
print(accuracy_score(y_test, y_test_pred))

0.906952380952381

# KNN

In [22]:
from sklearn.neighbors import KNeighborsClassifier
classifier_knn = KNeighborsClassifier()
classifier_knn.fit(X_train_num_rescalar, y_train)

KNeighborsClassifier()

In [23]:
y_test_pred = classifier_knn.predict(X_test_num_rescalar)

In [24]:
from sklearn.metrics import accuracy_score 
print(accuracy_score(y_test, y_test_pred))

0.9375238095238095

# Decision Tree Classification

In [25]:
from sklearn.tree import DecisionTreeClassifier
classifier_dt = DecisionTreeClassifier()
classifier_dt.fit(X_train_num_rescalar, y_train)

DecisionTreeClassifier()

In [26]:
y_test_pred = classifier_dt.predict(X_test_num_rescalar)

In [27]:
from sklearn.metrics import accuracy_score 
print(accuracy_score(y_test, y_test_pred))

0.8491428571428571

# Random Forest Classification

In [28]:
from sklearn.ensemble import RandomForestClassifier
classifier_rf = RandomForestClassifier()
classifier_rf.fit(X_train_num_rescalar, y_train)

RandomForestClassifier()

In [29]:
y_test_pred = classifier_rf.predict(X_test_num_rescalar)

In [30]:
from sklearn.metrics import accuracy_score 
print(accuracy_score(y_test, y_test_pred))

0.9679047619047619

# SVC

In [31]:
from sklearn.svm import SVC
classifier_svc = SVC()
classifier_svc.fit(X_train_num_rescalar, y_train)

SVC()

In [32]:
y_test_pred = classifier_svc.predict(X_test_num_rescalar)

In [33]:
from sklearn.metrics import accuracy_score 
print(accuracy_score(y_test, y_test_pred))

0.9598095238095238

# Serialization

In [35]:
from pickle import dump

dump(classifier_knn, open('models/knn_model.pkl', 'wb'))
dump(classifier, open('models/lr_model.pkl', 'wb'))
dump(classifier_dt, open('models/dt_model.pkl', 'wb'))
dump(classifier_rf, open('models/rf_model.pkl', 'wb'))
dump(classifier_svc, open('models/svc_model.pkl', 'wb'))